[uwsgi]
buffer-size = 65535
rem-header = Content-Length
master = true
thunder-lock = true
plugins = python3,apparmor
apparmor-profile = keystone
lazy-apps = true
paste-logger = true
no-orphans = true
die-on-term = true
enable-threads = true
processes = 8
threads = 32
listen = 100
logto = /var/log/keystone/keystone.log
name = keystone-api
uid = keystone
gid = keystone
chdir = /var/lib/keystone
wsgi-file = /usr/bin/keystone-wsgi-public
http-socket = {{ ansible_host }}:5000
