[DEFAULT]
log_file = {{ os_service_name }}.log
log_dir = /var/log/{{ os_service_name }}
[application_credential]
[assignment]
[auth]
[cache]
memcache_servers = {{ keepalived_vip }}:11211
[catalog]
template_file = /etc/keystone/default_catalog.templates
[cors]
[credential]
[database]
connection = mysql+pymysql://{{ os_service_name }}:{{ db_password }}@{{ ansible_host }}/{{ os_service_name }}
[domain_config]
[endpoint_filter]
[endpoint_policy]
[eventlet_server]
[federation]
sso_callback_template = /etc/keystone/sso_callback_template.html
[fernet_receipts]
[fernet_tokens]
[healthcheck]
[identity]
[identity_mapping]
[jwt_tokens]
[ldap]
[memcache]
[oauth1]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
policy_dirs = /etc/keystone/policy.d
[policy]
[profiler]
[receipt]
[resource]
[revoke]
[role]
[saml]
[security_compliance]
[shadow_users]
[token]
provider = fernet
[tokenless_auth]
[totp]
[trust]
[unified_limit]
[wsgi]
